* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontSansSerif: "PT Sans", sans-serif;
  --roboto: "Roboto", sans-serif;

  /* =========main color ============ */
  --blue: #1c85e8;
  --mediumGrey: #434544;
  --darkGrey: #343434;
  --white: #fefefe;
}

/* ===========global ================ */
input {
  border-radius: 3px;
  height: 40px;
  outline-style: none;
  border: none;
  padding-left: 10px;
  color: var(--mediumGrey);
}
/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
/* ===========general btn layout ============= */
.btn {
  font-family: var(--fontSansSerif);
  font-weight: 700;
  font-size: 20px;
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  border-radius: 3px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  text-transform: capitalize;
}
.full-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}
.outline-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: transparent;
  color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--blue);
  text-transform: capitalize;
  cursor: pointer;
}

::placeholder {
  text-transform: capitalize;
  font-size: 10px;
  font-family: var(--fontSansSerif);
  color: var(--mediumGrey);
}

.gif {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/pre-loader-2.gif);
  background-position: center;
  background-size: contain;

  width: 100px;
  height: 100px;
  z-index: 999;
}
.overlay {
  top: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  display: none;
  background-color: var(--mediumGrey);

  opacity: 0.8;
  height: 100vh;
  width: 100vw;
  z-index: 3;
}
/* ==================END OF GLOBAL CLASSES ========================  */

body {
  background-color: var(--darkGrey);
  overflow-x: hidden;
}

header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: var(--mediumGrey);
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--roboto);
  color: var(--white);

  text-transform: capitalize;
  font-weight: 400;
  width: 80vw;
}
.page-header h2 {
  letter-spacing: 1.2px;
  font-size: 20px;
}
.page-header i {
  color: var(--white);

  font-size: 20px;
}

#fork-icon {
  color: var(--blue);
}
/* ============THE HEADER AND THE BTN WHEN THERE IS NO CLIENTS ==== */
.btn-container {
  display: flex;
  margin-bottom: 10vh;
  align-items: center;
  justify-content: space-around;
}

.create-diet-btn {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 400;
}
.add-diet-btn {
  font-weight: 400;
  background-color: transparent;
  border: 1px solid var(--blue);
}

/* ============displaying programs in grid ============= */
/* ================= diet programs grid container ============= */
.nutrition-programs-grid-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}
.nutrition-programs-grid-container h2 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fontSansSerif);
  color: var(--white);
  font-size: 20px;
}
/* =========meal styling that will be dealt with in js ========== */
.one-diet-container {
  margin-bottom: 40px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.diet {
  width: 80vw;
  height: 50px;
  background-color: var(--white);
  color: var(--mediumGrey);
  border-radius: 3px 3px 0px 0px;

  font-family: var(--fontSansSerif);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;

  position: relative;
}

.diet p {
  margin-left: 20px;
  text-align: center;
  color: var(--whiteSmoke);
  font-weight: 500;
  letter-spacing: 1.2px;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--blue);
  width: 70px;

  cursor: pointer;
  margin-right: 20px;
}

#filled-fork {
  position: absolute;
  left: 10vw;
  top: -25px;
  color: var(--blue);
  z-index: 2;
  font-size: 20px;
}

/* ==============meal macros container ================ */

.total-diet-macros {
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-radius: 0px 0px 3px 3px;
  width: 80vw;
  background-color: var(--white);

  height: 80px;
  padding: 5px;
  font-family: var(--roboto);
  color: var(--mediumGrey);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.macros-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.macros-info span {
  opacity: 0.5;
  font-size: 10px;
  color: var(--blue);
}

/* =========overall programs list ================ */
.add-diet-container {
  width: 100vw;
  height: 60vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 100;
}
/* ==============the sub container which has all the content */
.add-diet-content {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 5px;
}

.add-diet-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  color: var(--blue);
  font-family: var(--fontSansSerif);
  font-weight: 500;
  text-transform: capitalize;
  font-size: 15px;

  margin-bottom: 20px;
  margin-top: 20px;
}

.diet-input-container i {
  position: absolute;
  font-size: 10px;
  margin-left: -30px;
  margin-top: 15px;
  color: var(--mediumGrey);
}

.search-input {
  width: 70vw;
  background-color: transparent;
  border: 1px solid var(--mediumGrey);
}

.diet-split-line {
  width: 70vw;
  background-color: var(--mediumGrey);
  opacity: 0.3;
  height: 1px;
  margin-top: 20px;
}

/* ===============exercise container ================= */

.diet-list-container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 300px;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 20px;
  overflow-y: scroll;
  position: relative;
  gap: 20px;
}
.diet-list-container h2 {
  font-family: var(--fontSansSerif);
  color: var(--blue);
  font-size: 12px;
  width: 150px;
  text-align: center;
}
.diet-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 70vw;
  height: 40px;
  font-family: var(--fontSansSerif);
  color: var(--mediumGrey);
  font-size: 12px;
  margin-bottom: 20px;
  gap: 10px;
}
.diet-name {
  display: flex;
  align-items: center;
  text-transform: capitalize;

  text-align: start;

  word-wrap: break-word;

  height: 40px;
}
.check-box {
  width: 10px;
  height: 10px;
  border: 1px solid var(--mediumGrey);

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  color: var(--white);
  transition: 200ms ease-in;
}
.check-icon {
  opacity: 0;
  transition: 200ms ease-in;
}

/* ==============delete verification box =========== */
.delete-verification-section {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  z-index: 40;
}

.delete-verification-box {
  background-color: var(--white);
  height: 200px;
  width: 80vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 200;
  z-index: 102;
}
.delete-verification-box h3 {
  font-family: var(--fontSansSerif);
  font-weight: 400;
  font-size: 15px;
  color: var(--mediumGrey);
  margin-bottom: 30px;
  width: 60vw;
  text-align: center;
}
.delete-verification-box span {
  text-transform: capitalize;

  color: var(--blue);
}
.yes-no-container {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.yes-no-container button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fontSansSerif);
  font-size: 15px;
  background-color: var(--mediumGrey);
  color: var(--white);
  font-weight: 400;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}
/* ============user nav bar ======================== */
.nav-bar {
  position: fixed;
  height: 60px;
  width: 100vw;
  background-color: var(--mediumGrey);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  bottom: 0;
  left: 0;
}

.nav-bar a {
  text-decoration: none;
  color: var(--white);
}
.nav-bar i {
  color: var(--white);
  font-size: 20px;
}

/* ===============js classes ====================== */
.open-container {
  display: flex;
}

.show-opacity {
  opacity: 1;
}

.display-none {
  display: none;
}

.not-current {
  opacity: 0.4;
}
.change-check-box-background {
  background-color: var(--mediumGrey);
}
