* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontSansSerif: "PT Sans", sans-serif;
  --roboto: "Roboto", sans-serif;

  /* =========main color ============ */
  --blue: #1c85e8;
  --mediumGrey: #434544;
  --darkGrey: #343434;
  --white: #fefefe;
}
/* ===========global ================ */
input {
  border-radius: 3px;
  height: 40px;
  outline-style: none;
  border: none;
  padding-left: 10px;
  color: var(--mainColor);
}
/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
/* ===========general btn layout ============= */
::placeholder {
  text-transform: capitalize;

  font-family: var(--fontSansSerif);

  color: var(--white);
  font-size: 15px;
  opacity: 0.8;
}

.full-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}
.nav-bar {
  position: fixed;
  height: 60px;
  width: 100vw;
  background-color: var(--mediumGrey);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  bottom: 0;
  left: 0;
}

.nav-bar a {
  text-decoration: none;
  color: var(--white);
}
.nav-bar i {
  color: var(--white);
  font-size: 20px;
}

#plus-btn {
  font-size: 50px;
  color: var(--blue);
}
.gif {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/pre-loader-2.gif);
  background-position: center;
  background-size: contain;
  width: 100px;
  height: 100px;
  z-index: 999;
}
.show-more {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 9vh;
  font-size: 20px;
  color: var(--darkGrey);
}
.fetch-more {
  opacity: 0;
}
.overlay {
  top: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  display: none;
  background-color: var(--mediumGrey);
  opacity: 0.8;
  height: 100vh;
  width: 100vw;
  z-index: 30;
}
/* ==================END OF GLOBAL CLASSES ========================  */

body {
  background-color: var(--darkGrey);
  overflow-x: hidden;
}

/* ================PAGE HEADER ============== */
header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: var(--mediumGrey);
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--roboto);
  color: var(--white);

  text-transform: capitalize;
  font-weight: 400;
  width: 80vw;
}
.page-header h2 {
  letter-spacing: 1.2px;
  font-size: 20px;
}
.page-header i {
  color: var(--white);

  font-size: 20px;
}

#dumbbell-icon {
  color: var(--blue);
}

/* ==============search container ---------------- */
.search-workout-container {
  width: 100vw;
  height: 30px;

  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  position: relative;
}
.search-workout-input {
  width: 80vw;
  height: 40px;
  background-color: var(--mediumGrey);
  color: var(--white);

  transition: 300ms ease-in;
}

#search-icon-btn {
  position: absolute;
  right: 15vw;
  color: var(--white);
  opacity: 0.8;
}

/* ============THE HEADER AND THE BTN WHEN THERE IS NO CLIENTS ==== */
.btn-container {
  display: none;
  height: 40vh;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 300ms ease-in;
}
.btn-container h3 {
  font-family: var(--fontSansSerif);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 20px;
  text-transform: capitalize;
}
.btn-container button {
  font-family: var(--fontSansSerif);

  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;

  color: var(--white);
  background-color: var(--blue);
  letter-spacing: 1.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  border-radius: 3px;
  border: none;

  margin-bottom: 30px;
  cursor: pointer;
}

/* ====================workouts grid container ============= */
.workouts-programs-grid-container {
  display: grid;
  grid-template-columns: repeat(1, auto);
  align-items: flex-start;
  justify-content: center;

  width: 100vw;
}
.workouts-programs-grid-container h2 {
  font-family: var(--fontSansSerif);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  color: var(--white);
  font-size: 18px;
  margin-top: 20px;
}
.program-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
  border-bottom: 1px solid var(--mediumGrey);
}
/* =========workout styling that will be dealt with in js ========== */
.program {
  width: 100vw;
  height: 80px;
  border-bottom: 1px solid var(--mediumGrey);
  font-family: var(--fontSansSerif);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.program p {
  text-align: center;
  color: var(--white);
  font-weight: 700;
  letter-spacing: 1.2px;
}
.program i {
  font-size: 15px;
  margin-left: 30px;
  color: var(--blue);
  cursor: pointer;
  transition: 300ms ease-in;
}
#show-program {
  transition: 100ms ease-in;
}
.tools {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  cursor: pointer;

  margin-right: 30px;
}
.tools i {
  margin-left: 0;
}

/* ===================overview container ==================== */

.overview-container {
  display: none;
  border: none;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;

  width: 100vw;

  z-index: 1;
  transition: 300ms ease-in;
}

/* ============date inside the overview container ========== */
.date-stats {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.date-stats p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-family: var(--fontSansSerif);
  font-size: 10px;
  text-transform: capitalize;
  gap: 5px;
  position: relative;
}
.date-stats p::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0px;
  height: 1px;
  width: 100%;
  background-color: var(--white);
  opacity: 0.3;
}
.date-stats p span {
  color: var(--blue);
  font-weight: 400;
  font-size: 12px;
}

.box-arrow {
  cursor: pointer;
}
/* =====================week container =========================== */
.days-container {
  display: grid;
  grid-template-columns: repeat(7, auto);
  margin-top: 30px;
  place-content: center;
  gap: 10px;
  width: 100vw;
}

.day {
  background-color: var(--mediumGrey);
  color: var(--white);
  padding: 10px;
  font-size: 10px;
  font-family: var(--fontSansSerif);
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
}
/* =================== created workouts ============ */
.created-workouts {
  margin-top: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}
.workout-info-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
/* =========workout styling that will be dealt with in js ========== */
.one-workout {
  width: 80vw;
  height: 50px;
  background-color: var(--white);
  border-radius: 3px;
  font-family: var(--fontSansSerif);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.one-workout i {
  color: var(--mediumGrey);
  margin-left: 20px;
}
.one-workout p {
  text-align: center;
  color: var(--blue);
  font-weight: 700;
  letter-spacing: 1.2px;
}
.one-workout span {
  font-size: 10px;
  color: var(--blue);
  opacity: 0.5;
  margin-right: 20px;
}
.created-workouts h2 {
  font-size: 18px;
  font-family: var(--fontSansSerif);
  color: var(--white);
  font-weight: 400;
  margin-bottom: 20px;
}
/* ========================end of workout overview section ======= */
/* ==============start of chosen exercises section ========== */
#show-exrecises {
  transition: 100ms ease-in;
}
.exercises-container {
  margin-top: 20px;
  width: 100vw;
  display: none;
  grid-template-columns: repeat(1, auto);
  place-items: center;
}

.one-exercise-container {
  width: 80vw;
  position: relative;
  padding: 10px;
  background-color: var(--white);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-family: var(--fontSansSerif);
  font-size: 12px;
  color: var(--mediumGrey);
  text-transform: capitalize;
  margin-bottom: 20px;
  border-radius: 5px;
}

.container-top-section {
  width: 70vw;
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.exercise-general-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-left: -20px;

  width: 55vw;
}
.exercise-general-info p {
  word-wrap: break-word;
  font-size: 15px;
}
.exercise-general-info img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.left-span {
  position: absolute;
  bottom: -20px;
  color: var(--blue);
  left: -20px;
  font-size: 15px;
}
.exercise-tools {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;

  font-size: 12px;
}

/* ==============exercises input container  ============== */

.exercise-stats-container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.input-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  color: var(--mediumGrey);
  font-family: var(--fontSansSerif);
}

#sets-input,
#rest-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--mediumGrey);
  border: 1px solid var(--blue);
  border-radius: 5px;
  font-size: 15px;
}

#reps-input,
#tempo-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 40px;
  color: var(--mediumGrey);
  border: 1px solid var(--blue);
  border-radius: 5px;
  font-size: 15px;
}

.button-type-container {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.button-type-container button {
  margin-bottom: 0;
}
.iframe-container {
  width: 80vw;
  height: 500px;
  z-index: 40;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  display: none;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  gap: 30px;
}
.iframe-container button {
  width: 50vw;
  font-size: 20px;
}
.iframe {
  width: 80vw;
  height: 400px;
  margin-top: 0;
}

.note-info {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  border-radius: 3px 3px 0px 0px;
  left: 0;
  height: 20px;
  width: 80vw;
  padding: 10px;
  background-color: var(--blue);
  color: var(--white);
  font-family: var(--roboto);
  font-size: 10px;
}
/* END OF PROGRAM CONTAINER ==================== */

/* ==============delete verification box =========== */
.delete-verification-section {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  z-index: 40;
}

.delete-verification-box {
  background-color: var(--white);
  height: 200px;
  width: 80vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 200;
  z-index: 102;
}
.delete-verification-box h3 {
  font-family: var(--fontSansSerif);
  font-weight: 400;
  font-size: 15px;
  color: var(--mediumGrey);
  margin-bottom: 30px;
  width: 60vw;
  text-align: center;
}
.delete-verification-box span {
  text-transform: capitalize;

  color: var(--blue);
}
.yes-no-container {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.yes-no-container button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fontSansSerif);
  font-size: 15px;
  background-color: var(--mediumGrey);
  color: var(--white);
  font-weight: 400;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}

/* ===============js classes ====================== */
.open-container {
  display: flex;
}

.open-container .overview-container {
  display: flex;
}
.open-container #show-program {
  transform: rotate(180deg);
}

.open-container .created-workouts {
  display: flex;
}

.show-info .exercises-container {
  display: grid;
}
.show-info #show-exercises {
  transform: rotate(180deg);
}
.display-none {
  display: none;
}
.display-flex {
  display: flex;
}
.chosen-day {
  background-color: var(--white);
  color: var(--blue);
}
.show-opacity {
  opacity: 1;
}
