* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontSansSerif: "PT Sans", sans-serif;
  --fontSerif: "Playfair Display", serif;

  /* =========main color ============ */
  --mainColor: #0e535f;

  --alert: #fc8f3a;
  --eyeComfort: #81bcc9;

  --bodyBackgroud: #e5eaef;
  --mainOrange: #fead47;

  --whiteSmoke: whitesmoke;
}

/* ===========global ================ */
input {
  border-radius: 3px;
  height: 40px;
  outline-style: none;
  border: none;
  padding-left: 10px;
}
/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
/* ===========general btn layout ============= */
.btn {
  font-family: var(--fontSansSerif);
  font-weight: 700;
  font-size: 20px;
  background-color: white;
  color: var(--mainColor);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  border-radius: 3px;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

::placeholder {
  text-transform: capitalize;
  font-size: 10px;
  font-family: var(--fontSansSerif);
  color: var(--mainColor);
}

/* ==================END OF GLOBAL CLASSES ========================  */

body {
  background-color: var(--bodyBackgroud);
  overflow-x: hidden;
}
/* ==============header CONTAINER CONTAINS THE BACK BTN AND THE PLUS BTN */
.header-container {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--mainColor);
}
.header-container img {
  margin-left: 30px;
  cursor: pointer;
}
.header-container i {
  margin-right: 30px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* ===================create program name input ================ */
.create-program-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--mainColor);
  width: 80vw;
  z-index: 20;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  transition: 300ms ease-in;
}

.create-program-name h2 {
  color: white;
  font-family: var(--fontSansSerif);
  font-weight: 400;
  font-size: 32px;
  text-transform: capitalize;
  margin-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.input-container input {
  width: 60vw;
}

.name-alert {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.name-alert p {
  font-family: var(--fontSansSerif);
  font-size: 12px;
  font-weight: 700;
  text-transform: capitalize;
  color: white;
  letter-spacing: 1.2px;
}
/* ============alerts for every input ============ */
.name-alert .alert {
  display: none;
  color: var(--alert);
  font-size: 8px;
  font-weight: 400;
}

/* ================ days container  ============== */

.days-container {
  display: grid;
  grid-template-columns: repeat(7, auto);
  margin-top: 30px;
  place-content: center;
  gap: 10px;
  width: 100vw;
}

.day {
  background-color: var(--mainColor);
  color: var(--whiteSmoke);
  padding: 10px;
  font-size: 10px;
  font-family: var(--fontSansSerif);
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
}

/* ============= js ========================== */
.edit-program-name {
  display: none;
}

.chosen-day {
  background-color: var(--whiteSmoke);
  color: var(--eyeComfort);
}

/* ===================overall container of the exercises , width 100vw so we center all in center but same time flex start from top  */
.add-exercises-container {
  width: 100vw;
  height: 60vh;

  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
/* ==============the sub container which has all the content */
.add-exercices-content {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--whiteSmoke);
  border-radius: 5px;
}
/* ===================add exercises header , has the title of the container and the close btn  */
.add-exercises-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  color: var(--mainColor);
  font-family: var(--fontSansSerif);
  font-weight: 500;
  text-transform: capitalize;
  font-size: 15px;

  margin-bottom: 20px;
  margin-top: 20px;
}

.search-input {
  width: 70vw;
  background-color: transparent;
  border: 1px solid var(--mainColor);
}
