* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontSansSerif: "PT Sans", sans-serif;
  --roboto: "Roboto", sans-serif;

  /* =========main color ============ */
  --blue: #1c85e8;
  --mediumGrey: #434544;
  --darkGrey: #343434;
  --white: #fefefe;
}

/* ============================BODY START =========================== */

body {
  overflow-x: hidden;
  background-color: var(--darkGrey);
  width: 100vw;
}
header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}

.page-header i {
  color: var(--white);
}

.page-header button {
  font-family: var(--roboto);
  border: 1px solid var(--blue);
  padding: 10px 20px;
  color: var(--white);
  border-radius: 5px;
  background-color: transparent;
  text-transform: capitalize;
  cursor: pointer;
}

.client-profile-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-profile {
  margin-top: 30px;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.client-name {
  font-family: var(--roboto);
  font-size: 20px;
  color: var(--white);
  font-weight: 500;
  text-transform: capitalize;
}
.client-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: var(--blue);
  font-size: 20px;
}
.client-contact a {
  text-decoration: none;
  color: var(--blue);
}
.dashboard-container {
  margin-top: 30px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard {
  width: 80vw;
  height: 200px;
  border: 1px solid var(--mediumGrey);
  border-radius: 10px;
}

main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  width: 100vw;
}

.client-navigation-tools {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 4vw;
  width: 80vw;
  margin-bottom: 70px;
  place-items: center;
}

.access-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--mediumGrey);
  border-radius: 15px;
  width: 38vw;
  height: 160px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.access-box i {
  font-size: 30px;
  color: var(--blue);
  margin-bottom: 30px;
}

.access-box p {
  color: var(--white);
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-size: 20px;
  font-family: var(--fontSansSerif);
}

/* ===============nav bar ---------------------- */
.nav-bar {
  position: fixed;
  height: 60px;
  width: 100vw;
  background-color: var(--mediumGrey);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  bottom: 0;
  left: 0;
}

.nav-bar a {
  text-decoration: none;
  color: var(--white);
}
.nav-bar i {
  color: var(--white);
  font-size: 20px;
}
