* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontSansSerif: "PT Sans", sans-serif;
  --fontSerif: "Playfair Display", serif;

  /* =========main color ============ */
  --mainColor: #0e535f;

  --alert: #fc8f3a;
  --eyeComfort: #81bcc9;

  --bodyBackgroud: #e5eaef;
  --mainOrange: #fead47;

  --whiteSmoke: whitesmoke;
}

/* ===========global ================ */
input {
  border-radius: 3px;
  height: 40px;
  outline-style: none;
  border: none;
  padding-left: 10px;
}
/* ===========general btn layout ============= */
.btn {
  font-family: var(--fontSansSerif);
  font-weight: 700;
  font-size: 20px;
  background-color: white;
  color: var(--mainColor);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  border-radius: 3px;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

::placeholder {
  text-transform: capitalize;
  font-size: 10px;
  font-family: var(--fontSansSerif);
  color: var(--SecondaryColor);
}
#toggle-password {
  position: absolute;
  margin-top: 15px;
  font-size: 10px;
  color: var(--SecondaryColor);
  margin-left: -20px;
  cursor: pointer;
}

.global-nav {
  position: fixed;
  width: 100vw;
  height: 9vh;
  background-color: var(--mainColor);
  font-family: var(--fontSansSerif);
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  z-index: 10;
  color: white;
}

.global-nav p {
  cursor: pointer;
  transition: 300ms ease-in;
}
.global-nav p a {
  cursor: pointer;
  transition: 300ms ease-in;
  color: white;
  text-decoration: none;
}

/* ==================END OF GLOBAL CLASSES ========================  */
/* ============================BODY START =========================== */

body {
  overflow-x: hidden;
}

/* ==============coach section =================== */
.coach-section {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;

  display: flex;

  justify-content: flex-start;
  flex-direction: column;
  transition: 300ms ease-in;
}

/* =============COACH PROFILE SECTION STYLE =================== */
.coach-general-stats-container {
  height: 45vh;
  width: 100vw;
  background-color: var(--mainColor);
}
/* ==================LOGO AND NOTIFICATION DISPLAY FLX, ALIGN AND SPACE BETWEEN */
.logo-notification {
  width: 90vw;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo-notification p {
  font-family: var(--fontSansSerif);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-left: 20px;
}

/* ===================PROFILE PICTURE CONTAINER  ALIGN CENTER  =================================== */
.profile-picture-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/*=======THE CONTAINER THAT WILL BT HOLDING OUR PICTURE ==================== */
.default-profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--eyeComfort);
}
.default-profile-container h2 {
  color: var(--mainColor);
  font-family: var(--fontSansSerif);
  font-weight: 400;
  font-size: 40px;
}
/* ==============coach name ============================= */
.coach-name {
  opacity: 0;
  margin-top: 10px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fontSansSerif);
  color: white;
  font-size: 24px;

  font-weight: 400;
  text-transform: capitalize;
  transition: 300ms ease-in;
}
/* ==============THE PENTAGON SHAPE AND ICONS CONTAINER DISPLAY FLEX ALIGN CENTER AND SPECIFIC GAP */
.triple-stats-container {
  margin-top: 35px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

/* ============THE STATS CONTAINER  FLEX ,COLUMN ALIGNED CENTER ================ */
.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
/* ============NUMBER AND STAT TITLE FONT FAMILY AND CORRESPONDING COLORS ================ */
.number {
  font-family: var(--fontSansSerif);
  color: whitesmoke;
  font-size: 20px;
  font-weight: 400;
}
.stat-title {
  font-family: var(--fontSansSerif);
  text-transform: capitalize;
  letter-spacing: 1.2px;
  color: white;
  opacity: 0.5;
}
/* ===========THE PENTAGON DIV WHERE WE WANT TO ADD AN ICON =========== */
.pentagon-div {
  position: relative;
}
.pentagon-div i {
  color: var(--mainColor);
  position: absolute;
  top: 20px;
  left: 18px;
}

.pentagon-diet-div {
  position: relative;
}
.pentagon-diet-div .fa-bowl-food {
  color: var(--mainColor);
  position: absolute;
  top: 20px;
  left: 20px;
}

/* ================COACH ACCESS SECTION WHERE HE CAN GO TO CLIENTS/WORKOUTS/NUTRITION/WALLET ======== */
.coach-access-section {
  height: 45vh;
  width: 100vw;
}
/* ================= GIVEN SPECIFIC HEIGHT WAS CALCULATED DEPEND THE NAV HEIGHT AND OUR PROFILE PICTURE CONTAINER  */
.access-box {
  height: 11.75vh;
  width: 100vw;
  border-bottom: 1px solid var(--mainColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  color: var(--mainColor);
}
.access-box i {
  font-size: 24px;
  margin-left: 40px;
}
.access-box img {
  margin-right: 40px;
}
.access-box p {
  font-family: var(--fontSansSerif);
  font-size: 24px;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-weight: 400;
}
/* =========REMOVING BORDER FOR THE LAST SECTION======================= */
.my-wallet {
  border-bottom: none;
}
/* ============user nav bar ======================== */
.coach-nav-bar {
  transition: 300ms ease-in;
}

/* ================hover ============== */
.global-nav p:hover {
  opacity: 0.8;
}
/* ===============js classes ====================== */
.opacity-one {
  opacity: 1;
}

.remove-border {
  border: none;
}
