* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontfamily: "Roboto", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.register-container p {
  margin-bottom: 5px;
  font-family: var(--fontfamily);
  color: white;
  text-transform: capitalize;
  font-size: 12px;
}
input {
  height: 25px;
  font-size: 15px;
}
::placeholder {
  font-size: 8px;
  padding-left: 5px;
}
.fa-bars {
  display: flex;
  color: white;
  font-size: 50px;
}
.small-input-container {
  display: flex;
  width: 50vw;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.small-input input {
  width: 100px;
}

.big-input input {
  width: 300px;
  margin-bottom: 30px;
}
