* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.hero-section {
  min-height: 100vh;
  background-image: url(./Men-Fitness-Wallpaper-4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  overflow: hidden;
}

.nav-bar {
  display: flex;
  width: 100vw;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
}
.logo-toggle {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 20px;
}
#toggle-menu {
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.nav-links-container {
  position: absolute;
  top: 100px;

  height: 300px;
  background-color: white;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.nav-link a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-transform: capitalize;
}

.hero-section-content {
  display: flex;
  width: 80vw;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  flex-direction: column;
}
