* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontSansSerif: "PT Sans", sans-serif;
  --roboto: "Roboto", sans-serif;

  /* =========main color ============ */
  --blue: #1c85e8;
  --mediumGrey: #434544;
  --darkGrey: #343434;
  --white: #fefefe;
}

/* ============================BODY START =========================== */

body {
  overflow-x: hidden;
  background-color: var(--darkGrey);
  width: 100vw;
}
header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}

.page-header img {
  width: 40px;
}

.page-header h2 {
  letter-spacing: 1.2px;
  font-size: 24px;
  color: var(--white);
  font-family: var(--fontSansSerif);
  text-transform: capitalize;
  position: relative;
}
.page-header h2::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  background-color: var(--mediumGrey);
  width: 100%;
  height: 1px;
}

.client-profile-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-profile {
  margin-top: 0px;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--mediumGrey);
  padding: 10px;
  border-radius: 10px;
}

.client-profile h4 {
  font-family: var(--roboto);
  font-size: 15px;
  color: var(--white);
}
.client-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: var(--blue);
  font-size: 20px;
}
.client-contact a {
  text-decoration: none;
  color: var(--blue);
}
.dashboard-container {
  margin-top: 20px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard {
  width: 80vw;
  height: 280px;
  border: 1px solid var(--mediumGrey);
  border-radius: 10px;
}
.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--roboto);
  text-transform: capitalize;
  margin-top: 20px;
}
.dashboard-header h4 {
  color: var(--white);
  margin-left: 10px;
  font-size: 15px;
  position: relative;
}
.dashboard-header h4::after {
  content: "calories";
  position: absolute;
  font-size: 12px;
  color: var(--white);
  opacity: 0.6;
  bottom: -30px;
  left: 0;
}
.dashboard-header p {
  color: var(--blue);
  margin-right: 10px;
  font-size: 10px;
}

.dashboard-graph-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  position: relative;
}
.dashboard-graph-container::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--mediumGrey);
}
.circular-progress {
  position: relative;
  margin-left: 10px;
  height: 100px;
  width: 100px;
  background: conic-gradient(var(--blue) 0deg, var(--white) 0deg);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.circular-progress::before {
  content: "";
  position: absolute;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: var(--darkGrey);
}
.current-calories {
  z-index: 10;
  color: var(--white);
  font-size: 15px;
  margin-bottom: 10px;
  transition: 300ms ease-in;
}
.total-calories {
  z-index: 10;
  color: var(--white);
  opacity: 0.5;
  font-size: 12px;
  transition: 300ms ease-in;
}

/* ================progress bars  ==============*/

.progress-bars-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
}

.progress-bar-content {
  margin-bottom: 20px;
}
.macros-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  font-size: 10px;
  color: var(--white);
  opacity: 0.6;

  margin-bottom: 10px;
  text-transform: capitalize;
}
.macros-type span {
  transition: 300ms ease-in;
  font-size: 10px;
}
.outline-progress-bar {
  width: 150px;
  height: 5px;
  border-radius: 100px;
  background-color: var(--white);
}
.inline-progress-bar {
  width: 0px;
  height: 5px;
  background-color: var(--blue);
  border-radius: 100px;
}

/* =============================== weekly activity value ======= */
.weekly-activity-dashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.weekly-activity-dashboard h4 {
  font-size: 15px;
  color: var(--white);
  font-family: var(--roboto);
  text-transform: capitalize;
  margin-left: 10px;
}
.workouts-dash {
  margin-right: 10px;
  margin-bottom: 0;
}

/* ================main container ================ */
main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  width: 100vw;
}

.client-navigation-tools {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 4vw;
  width: 80vw;
  margin-bottom: 70px;
  place-items: center;
}

.access-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--mediumGrey);
  border-radius: 15px;
  width: 38vw;
  height: 160px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.access-box i {
  font-size: 30px;
  color: var(--blue);
  margin-bottom: 30px;
}

.access-box p {
  color: var(--white);
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-size: 20px;
  font-family: var(--fontSansSerif);
}

/* ===============nav bar ---------------------- */
.nav-bar {
  position: fixed;
  height: 60px;
  width: 100vw;
  background-color: var(--mediumGrey);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  bottom: 0;
  left: 0;
}

.nav-bar a {
  text-decoration: none;
  color: var(--white);
}
.nav-bar i {
  color: var(--white);
  font-size: 20px;
}

#home-icon i {
  color: var(--blue);
}
