* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontSansSerif: "PT Sans", sans-serif;
  --roboto: "Roboto", sans-serif;

  /* =========main color ============ */
  --blue: #1c85e8;
  --mediumGrey: #434544;
  --darkGrey: #343434;
  --white: #fefefe;
}

/* ===========global ================ */
input {
  border-radius: 3px;
  height: 40px;
  outline-style: none;
  border: none;
  padding-left: 10px;
  background-color: var(--mediumGrey);
}
/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
/* ===========general btn layout ============= */

::placeholder {
  text-transform: capitalize;
  font-size: 10px;
  font-family: var(--fontSansSerif);
  color: var(--mainColor);
}
#toggle-password {
  position: absolute;
  margin-top: 15px;
  font-size: 10px;
  color: var(--SecondaryColor);
  margin-left: -20px;
  cursor: pointer;
}

.nav-bar {
  position: fixed;
  height: 60px;
  width: 100vw;
  background-color: var(--mediumGrey);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  bottom: 0;
  left: 0;
}

.nav-bar a {
  text-decoration: none;
  color: var(--white);
}
.nav-bar i {
  color: var(--white);
  font-size: 20px;
}

#plus-btn {
  font-size: 50px;
  color: var(--blue);
}
.gif {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/pre-loader-2.gif);
  background-position: center;
  background-size: contain;
  width: 100px;
  height: 100px;
  z-index: 999;
}
.show-more {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 9vh;
  font-size: 20px;
  color: var(--darkGrey);
}
.fetch-more {
  opacity: 0;
  display: none;
}
.overlay {
  top: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  display: none;
  background-color: var(--mediumGrey);

  opacity: 0.8;
  height: 100vh;
  width: 100vw;
  z-index: 30;
}

/* ==================END OF GLOBAL CLASSES ========================  */

body {
  background-color: var(--darkGrey);
  overflow-x: hidden;
}
/* ================PAGE HEADER ============== */
header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: var(--mediumGrey);
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--roboto);
  color: var(--white);

  text-transform: capitalize;
  font-weight: 400;
  width: 80vw;
}
.page-header h2 {
  letter-spacing: 1.2px;
  font-size: 20px;
}
.page-header i {
  color: var(--white);

  font-size: 20px;
}

#fork-icon {
  color: var(--blue);
}

/* ==============THE SEARCH INPUT WITH THE SEARCH ICON ======== */
.search-nutrition-container {
  width: 100vw;
  height: 30px;

  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  position: relative;
}
.search-nutrition-input {
  width: 80vw;
  height: 40px;
  background-color: var(--mediumGrey);
  color: var(--white);

  transition: 300ms ease-in;
}
.search-nutrition-input::placeholder {
  color: var(--white);
  font-size: 15px;
  opacity: 0.8;
}
#search-icon-btn {
  position: absolute;
  right: 15vw;

  color: var(--white);
  opacity: 0.8;
}

.btn-container {
  display: none;
  height: 40vh;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 300ms ease-in;
}
.btn-container h3 {
  font-family: var(--fontSansSerif);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 20px;
  text-transform: capitalize;
}
.btn-container button {
  font-family: var(--fontSansSerif);

  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;

  color: var(--white);
  background-color: var(--blue);
  letter-spacing: 1.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  border-radius: 3px;
  border: none;

  margin-bottom: 30px;
  cursor: pointer;
}

/* END OF PROGRAM CONTAINER ==================== */

/* ================= diet programs grid container ============= */
.nutrition-programs-grid-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}
.nutrition-programs-grid-container h2 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fontSansSerif);
  color: var(--white);
  font-size: 18px;
}
/* =========meal styling that will be dealt with in js ========== */
.one-diet-container {
  margin-bottom: 20px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.diet {
  width: 80vw;
  height: 50px;
  background-color: var(--white);
  color: var(--mediumGrey);
  border-radius: 3px 3px 0px 0px;

  font-family: var(--roboto);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.diet p {
  text-align: center;

  font-weight: 500;
  letter-spacing: 1.2px;
  margin-left: 20px;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--blue);
  width: 70px;

  cursor: pointer;
  margin-right: 20px;
}

/* ==============meal macros container ================ */

.total-diet-macros {
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-radius: 0px 0px 3px 3px;
  width: 80vw;
  background-color: var(--white);

  height: 80px;
  padding: 5px;
  font-family: var(--roboto);
  color: var(--mediumGrey);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.macros-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.macros-info span {
  opacity: 0.5;
  font-size: 10px;
  color: var(--blue);
}
/* ==============delete verification box =========== */
.delete-verification-section {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  z-index: 40;
}

.delete-verification-box {
  background-color: var(--white);
  height: 200px;
  width: 80vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 200;
  z-index: 102;
}
.delete-verification-box h3 {
  font-family: var(--fontSansSerif);
  font-weight: 400;
  font-size: 15px;
  color: var(--mediumGrey);
  margin-bottom: 30px;
  width: 60vw;
  text-align: center;
}
.delete-verification-box span {
  text-transform: capitalize;

  color: var(--blue);
}
.yes-no-container {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.yes-no-container button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--fontSansSerif);
  font-size: 15px;
  background-color: var(--mediumGrey);
  color: var(--white);
  font-weight: 400;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}

/* ===============js classes ====================== */
.open-container {
  display: flex;
}
.rotate-arrow {
  transform: rotate(180deg);
}
.open-container .overview-container {
  display: flex;
}
.show-info .exercise-container {
  display: flex;
}
.name-alert .show-alert {
  display: block;
}

.show-opacity {
  opacity: 1;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.translate-input {
  transform: translateX(0);
}
